.note {
    width: 100%;
    height: fit-content;
    position: relative;
}

.top-margin {
    width: 100%
}

.handle {
    position: absolute;
    left: -20px;
    top: -2px;

    user-select: none;
}

.handle-png-container {
    padding: 5px 0 5px 150px; 
    margin: -5px 0 -5px -150px;

}


.handle-png{
    width: 18px; 
    padding: 3px;
    border-radius: 4px;

    cursor: grab;
    opacity: 0;
    background: white;    
    transition: opacity 0.2s;
}
.handle-png-container:hover .handle-png {
    opacity: 1;
}
.handle-png:hover {
    background: #EFEFEF;
}


.placeholder {
    width: 100%;
    height: 4px;

    border: 0px;
    border-radius: 4px;    

    background: #A0CAF2;

    opacity: 0;
    transition: opacity 0.4s;
}