<div class="container">
    <div 
        class="sidebar"
        [style.width]="'min(500px, max(' + width.toString() +'px, 150px))'"
    >
        <div class="header">
            <img 
                class="profile-image"
                mat-card-avatar 
                [src]="userInfo.photoURL"
                referrerpolicy="no-referrer"
            >
            <div class="header-text">{{ userInfo.email }}</div>
        </div>


        <button class="options-button" (click)="redirectToSettings()">
            <mat-icon>settings</mat-icon>
            <div class="options-button-text">Settings</div>
        </button>

        <button class="options-button" (click)="redirectToDashboard()">
            <mat-icon>dashboard</mat-icon>
            <div class="options-button-text">Dashboard</div>
        </button>

        <br>

        <div class="notes-header-container">
            <div class="caret-container">
                <div 
                    class="caret" 
                    (click)="open1 = !open1" 
                    [style.rotate.deg]="open1 ? 0 : -90"
                >
                    ▶
                </div>
            </div>

            My Noteables
        </div>

        <div class="notes-container" *ngIf="open1">
            <app-notes [notesSetup]="{notes: myNotes}"></app-notes>
        </div>

        <br>

        <div class="notes-header-container">
            <div class="caret-container">
                <div 
                    class="caret" 
                    (click)="open2 = !open2" 
                    [style.rotate.deg]="open2 ? 0 : -90"
                >
                    ▶
                </div>
            </div>

            Shared with Me
        </div>

        <div class="notes-container" *ngIf="open2">
            <app-notes [notesSetup]="{notes: sharedNotes}"></app-notes>
        </div>
    </div>

    <div 
        class="drag-bar-container" 
        (mousedown)="resize()"
        [style.padding.px]="dragging ? 1000 : 4"
        [style.margin.px]="dragging ? -1000 : -4"
    >
        <div 
            class="drag-bar" 
        ></div>
    </div>
</div>
