.container {
    display: flex;
    color: #73726E;

    user-select: none;
}

.sidebar {
    background: #FBFBFA;
    height: 100vh;
}

.header{
    background: #F5F5F5;

    display: flex;
    align-items: center;

    height: 40px;
    padding: 5px;
    margin-bottom: 15px;

    color: black;
    font-weight: 550;
}

.profile-image{
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

.header-text{
    width: auto;
    height: fit-content;

    margin-left: 10px;
    font-size: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.options-button {
    display: flex; 
    align-items: center;
    
    height: 35px; 
    width: 93%; 
    margin: auto; 
    margin-bottom: 10px;

    border-radius: 5px; 
    border: 0px; 
    padding: 10px;

    color: #73726E; 

    cursor: pointer;
    transition: background 0.15s;
}
.options-button:hover {
    background: #e1e1e1;
}

.options-button-text {
    font-size: 14.5px; 
    margin-left: 7.5px;
}


.notes-header-container {
    display: flex;
    width: 93%; 

    margin: auto; 
    margin-bottom: 7px;
}

.caret-container {
    width: 18px;
    height: 18px;

    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}
.caret-container:hover {
    background: #EFEFEF;
}

.caret {
    cursor: pointer;
    user-select: none;

    transition: rotate 0.3s;
}


.notes-container {
    width: 93%; 
    margin: auto; 
}
.notes {
    height: 25px; 
    width: 100%; 
    border: 0px;
    border-radius: 5px; 
}

.drag-bar-container {
    cursor: col-resize;
    width: 1px;
    height: 100vh;
    z-index: 10;
}
.drag-bar {
    height: 100vh;
    background: #F5F5F4;
    transition: background 0.3s;
}
.drag-bar-container:hover .drag-bar{
    background: #bbd8f3;
    width: 2px;
}