.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    
    height: 100%;
    overflow-y: scroll;
}

.margin {
    height: 100%;
    flex: 1;
}

.notes {
    width: min(calc(100% - 200px), 730px);
    height: 100%;
}

.top-margin {
    width: 100%;
    height: 175px;
}
.bottom-margin {
    width: 100%;
    height: 160px;
}

.drag-preview {
    position: fixed;
    opacity: 0.4;

    padding: 1000px;
    margin: -1000px;
    z-index: -1;
    cursor: grabbing;
}