<div class="container centre fill">
    <div *ngFor="let flashcard of flashcardsService.flashcards; let i = index" class="centre fill">
        <div 
            class="flashcard-container centre fill"
            [style.left]="(i - currentFlashcardIndex).toString() + '00%'"
            [style.top]="showAnswers[i] ? '-50%' : '50%'"
            (click)="showAnswers[i] = true;"
        >
            <div class="flashcard centre fill"> 
                <app-notes
                    class="note centre"
                    [style.text-align]="'center'"
                    [notesSetup]="{notes: [{type: 'title', value: flashcard.value, content: []}]}"
                ></app-notes>
            </div>
        </div>

        <div 
            class="flashcard-container centre fill"
            [style.left]="(i - currentFlashcardIndex).toString() + '00%'"
            [style.top]="showAnswers[i] ? '50%' : '150%'"
            (click)="showAnswers[i] = i != currentFlashcardIndex"
        >
            <div class="flashcard centre fill">
                <app-notes
                    *ngIf="flashcard.type == 'toggle'"
                    class="note centre"
                    [notesSetup]="{notes: flashcard.content}"
                ></app-notes>

                <app-notes
                    *ngIf="flashcard.value.includes('cloze')"
                    class="note centre"
                    [style.text-align]="'center'"
                    [notesSetup]="{notes: [{type: 'title', value: flashcard.value.replaceAll('cloze', ''), content: []}]}"
                ></app-notes>

                <div *ngIf="showConfidenceLevel[i]" class="confidence-level">
                    <div (click)="recordConfidenceLevel(0)">Easy</div>
                    <div (click)="recordConfidenceLevel(1)">Average</div>
                    <div (click)="recordConfidenceLevel(2)">Hard</div>
                    <div (click)="recordConfidenceLevel(3)">Again</div>
                </div>        
            </div>
        </div>

        
        <div *ngIf="currentFlashcardIndex != 0" class="move centre left" (click)="moveLeft()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
        <div class="move centre right"  (click)="moveRight()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
    </div>

    
    <div class="centre fill flashcard-container"
        [style.left]="(flashcardsService.flashcards.length - currentFlashcardIndex).toString() + '00%'"
    >
        <div class="centre fill flashcard">
            <app-notes
                class="note"
                [notesSetup]="{notes: [{type: 'title', value: 'No more flashcards', content: []}]}"
            ></app-notes>   
        </div>
        <div class="move centre left" (click)="moveLeft()"><mat-icon>keyboard_arrow_left</mat-icon></div>
    </div>

    <div 
        class="centre close" 
        (click)="flashcardsService.backToNotes()"
    ><mat-icon>close</mat-icon></div>
</div>