.handle {
    color: #ccc;
    user-select: none;
    margin-right: 3px;
}

.handle-png-container {
    padding-left: 150px; 
    margin-left: -150px;

    margin-top: -5px;
    margin-bottom: -10px;

    transition: opacity 0.2s;
}

.handle-png{
    width: 13px; 
    padding: 3px;
    border-radius: 4px;
    cursor: grab;
}

.handle-png:hover {
    background: #EFEFEF;
}